.button {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.button_colorized {
    border-color: rgba(0, 0, 0, 0.9);
    border-radius: 4px;

    font-size: 36px;

    color: #fafafa;
}

.button_covered {
    background-color: #fafafa;
    border-color: transparent;
}

.button_hide {
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

@media screen and (max-width: 500px) {
    .button {
        width: 48px;
        height: 48px;
        font-size: 28px;
    }
}
