.table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.row + .row {
    margin-top: 24px;
}

.button + .button {
    margin-left: 24px;
}

@media screen and (max-width: 500px) {
    .row + .row {
        margin-top: 12px;
    }

    .button + .button {
        margin-left: 12px;
    }
}
